body{
    background-color: rgb(40, 37, 37);
}
.navbar{
    color: azure;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.nav-text{
    height: 4rem;
    width: 100%;
    display: flex;
}
.nav-heading{
   width: 100%;
   margin-left: 20px;
}
.nav-elements{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    font-size: x-large;
    width: 100%;
    margin-right: 20px;
}
.content{
    height: 100vh;
    display: flex;
    width: 90%;
    margin: auto;
}   
.text{
    height: inherit;
    width: 100%;   
}

.text-content{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    flex-direction: column;
    
}

.photo{
    display: flex;
    justify-content: center;
    height: inherit;
    width: 100%;
    align-items: center;
}

.photo img{
    height: 30rem;
    border-radius: 100%;
    height: 25rem;
    width: 25rem;
}


  .about-me{
    height: 100vh;

    
  }

  .ab-me{
    justify-content: center;
    align-items: center;
    display: flex;
    height: inherit;
    width: 90%;
    margin: auto;
  }

  .image{
    height: inherit;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: inherit;
  }

  .image-img img{
    height: 50%;
    width: 50%;
    /* overflow: hidden; */
  }

  .my-self{
    width: 50%;
    font-size: 18px;
    color: aliceblue;
    align-items: center; 
  }
  .skill{
    display: flex;
    gap: 3rem;
  }
  .sign-tag{
    display: flex;
    height: 2rem;
    width: 2rem;
    gap: 1rem;
  }
  .canva{
    height: 2rem;
    width: 2rem;
    gap: 1rem;
  }
  .languages{
    height: 2rem;
    width: 2rem;
    display: flex;
    gap: 1rem;
  }
  .contact{
    width: 100%;
    height: 100vh;
  }
  .contact-detail{
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .contact-text{
    justify-content: center;
    color: aliceblue;
    width:100% ;
    height: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .all{
    width: 80%;
    height: 80%;
  }
  .contact-mail{
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .mail{
    font-size: larger;
    justify-content: flex-start;
    align-items: flex-start;
    width: 330px;
  }
  .p-size{
    font-size: larger;
    justify-content: flex-start;
    align-items: flex-start;
    width: 330px;
  }
  .p-name{
    font-size: x-large;
    gap: 2rem;
  }
  .links{
    justify-content:start;
    display: flex;
    height: 25%;
    gap: 3rem;

  }

 .link-button{
    gap: 3rem;
    height: 80%;
    width: 20rem;
 }
 .btn{
    margin-bottom: 10px;
    height: 100%;
    gap: 2px;
    display: flex;
    flex-direction: column;
 }

 .btn button{
    height: 4rem;
    width: 10rem;
    border-radius: 10%;
    gap: 3rem;
 }
 .file{
    height: 30%;
 }
 .file-heading{
    font-size: x-large;
 }
 .file-btn{
    height: 50%;
 }
 .file-btn button{
    height: 60%;
    width: 40%;
 }
  .blank{
    height: 100%;
    width: 100%;
  }

  .blank-text{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
  }
.name{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 60%;
}
.nm {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: auto;
    border-radius: 3%;

}
.nm input{
    height: 45px;
    width: 70%;
    border-radius: 4%;
}

.message{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 20%;
    width: 60%;
}
.message input{
    height: 120px;
    width: 70%;
    border-radius: 3%;
}
.submit{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.submit button{
    height: 70px;
    width: 150px;
    border-radius: 20%;
}
  

@media (max-width: 720px) {
  .nav-text{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .nav-elements {
      display: flex;
      font-size: x-large;
  }

  .photo img {
      width: 20rem;
      height: 20rem;
  }

  .image-img img {
      width: 80%;
  }

  .my-self {
      font-size: 0.9rem;
  }

  .skill, .sign-tag, .canva, .languages {
      flex-direction: row;
  }

  .blank-text {
      width: 90%;
  }

  .file-btn button {
      width: 100%;
  }
}
